{% extends 'base1.html' %}

{% block title %}Home{% endblock %}

{% block content %}

	{% if message %}

		<script>
			alert('{{message}}');
		</script>

	{% endif %}

	<div class="row redback">
		<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
			
			<!-- Carousel indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselIndicators" data-slide-to="1"></li>
				<li data-target="#carouselIndicators" data-slide-to="2"></li>
			</ol>

			<!-- Carousel images -->
			<div class="carousel-inner pt-5 pb-5">
				
				<div class="carousel-item active">
					
					<div class="row justify-content-center">
						<img style="position: absolute;" src="static/img/banner-circle.png" class="w-100 animate__animated animate__fadeInRight animate__delay-1s" alt="...">
						<img style="position: absolute;" src="static/img/banner-circle-outline.png" class="w-100 circle-outline" alt="...">
						<div class="col-md-10">
							<div class="testimony-wrap d-flex">
								<div class="img col-md-6 animate__animated animate__fadeInRight animate__delay-3s">
									<img src="static/img/sofa1.png" class="p-5 w-100 slide-image" alt="...">
								</div>
								<div class="text text-center d-flex align-items-center">
									<div class="desc w-100">
										<p class="mb-2 animate__animated animate__fadeInLeft animate__delay-3s carousel-primary-text">Occasional chair collection</p>
										<div class="pt-4">
											<p class="mb-1 animate__animated animate__fadeInLeft animate__delay-4s carousel-secondary-text">Your sofa is where you let your guard down, put your feet up and relax.</p>
										</div>
										<div class="pt-4">
											<button type="button" class="btn btn-lg btn-dark animate__animated animate__fadeInLeft animate__delay-5s">Shop Now</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>

				<div class="carousel-item">
					
					<div class="row justify-content-center">
						<img style="position: absolute;" src="static/img/banner-circle.png" class="w-100 animate__animated animate__fadeInRight animate__delay-1s" alt="...">
						<img style="position: absolute;" src="static/img/banner-circle-outline.png" class="w-100 circle-outline" alt="...">
						<div class="col-md-10">
							<div class="testimony-wrap d-flex">
								<div class="img col-md-6 animate__animated animate__fadeInRight animate__delay-3s">
									<img src="static/img/sofa1.png" class="p-5 w-100 slide-image" alt="...">
								</div>
								<div class="text text-center d-flex align-items-center">
									<div class="desc w-100">
										<p class="mb-2 animate__animated animate__fadeInLeft animate__delay-3s carousel-primary-text">Occasional chair collection</p>
										<div class="pt-4">
											<p class="mb-1 animate__animated animate__fadeInLeft animate__delay-4s carousel-secondary-text">Your sofa is where you let your guard down, put your feet up and relax.</p>
										</div>
										<div class="pt-4">
											<button type="button" class="btn btn-lg btn-dark animate__animated animate__fadeInLeft animate__delay-5s">Shop Now</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>

				<div class="carousel-item">
					
					<div class="row justify-content-center">
						<img style="position: absolute;" src="static/img/banner-circle.png" class="w-100 animate__animated animate__fadeInRight animate__delay-1s" alt="...">
						<img style="position: absolute;" src="static/img/banner-circle-outline.png" class="w-100 circle-outline" alt="...">
						<div class="col-md-10">
							<div class="testimony-wrap d-flex">
								<div class="img col-md-6 animate__animated animate__fadeInRight animate__delay-3s">
									<img src="static/img/sofa1.png" class="p-5 w-100 slide-image" alt="...">
								</div>
								<div class="text text-center d-flex align-items-center">
									<div class="desc w-100">
										<p class="mb-2 animate__animated animate__fadeInLeft animate__delay-3s carousel-primary-text">Occasional chair collection</p>
										<div class="pt-4">
											<p class="mb-1 animate__animated animate__fadeInLeft animate__delay-4s carousel-secondary-text">Your sofa is where you let your guard down, put your feet up and relax.</p>
										</div>
										<div class="pt-4">
											<button type="button" class="btn btn-lg btn-dark animate__animated animate__fadeInLeft animate__delay-5s">Shop Now</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>

			</div>
			
			<!-- Carousel buttons -->
			<a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<h1 class="heading1">NEW TRENDING</h1>
			<hr>
		</div>
	</div>

	<!-- Gallery -->
	<div class="row no-gutters">
		<div class="col-lg-4 col-md-4 mb-2 mb-lg-0">
			<div class="card animate__animated animate__fadeInUp" style="border: none">
				<img
				src="/static/img/cat-long.png"
				class="w-100 shadow-1-strong rounded"
				alt=""
				/>
			</div>
		</div>

		<div class="col-lg-4 col-md-4 mb-2 mb-lg-0">
			<div class="card mb-3 animate__animated animate__fadeInUp" style="background-color: #f2f2f2; border: none;">
				<a href="/products/seating">
					<img class="card-image-top mx-auto d-block" src="/static/img/cat1.png">
					<div class="card-body">
						<h5 class="card-title" style="font-weight: bold;">SEATING</h5>
					</div>
				</a>
			</div>

			<div class="card animate__animated animate__fadeInUp" style="background-color: #f2f2f2; border: none;">
				<a href="/products/sleeping">
					<img class="card-image-top mx-auto d-block" src="/static/img/cat2.png">
					<div class="card-body" style="font-weight: bold;">
						<h5 class="card-title">SLEEPING</h5>
					</div>
				</a>
			</div>
		</div>

		<div class="col-lg-4 col-md-4 mb-2 mb-lg-0">
			<div class="card animate__animated animate__fadeInUp mb-3" style="background-color: #f2f2f2; border: none;">
				<a href="/products/sound-proofing">
					<img class="card-image-top mx-auto d-block" src="/static/img/cat3.png">
					<div class="card-body">
						<h5 class="card-title" style="font-weight: bold;">SOUND PROOFING</h5>
					</div>
				</a>
			</div>

			<div class="card animate__animated animate__fadeInUp" style="background-color: #f2f2f2; border: none;">
				<a href="/products/packaging">
					<img class="card-image-top mx-auto d-block" src="/static/img/cat3.png">
					<div class="card-body">
						<h5 class="card-title" style="font-weight: bold;">PACKAGING</h5>
					</div>
				</a>
			</div>
		</div>
	</div>
	<!-- Gallery -->

	<div class="row card cursive-font d-none d-sm-block">
		<img class="card-img adbanner" src="https://picsum.photos/1920/800" style="width: 100%">
		<div class="card-img-overlay" style="padding: 22%">
			<h3 class="card-title" style="font-size: 45px">Midseason Sale</h2>
			<h2 class="card-title" style="font-size: 60px">Up to 70%</h2>
		</div>
	</div>

	<div class="row card cursive-font d-sm-none">
		<img class="card-img adbanner" src="https://picsum.photos/800/500" style="width: 100%">
		<div class="card-img-overlay" style="padding-top: 45%">
			<h3 class="card-title" style="font-size: 35px">Midseason Sale</h2>
			<h2 class="card-title" style="font-size: 40px">Up to 70%</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<h1 class="heading1">FEATURED</h1>
			<hr>
		</div>
	</div>

	<div class="row no-gutters">

		<div class="col-md-3 no-gutters">
			<div class="card">
				<img class="card-image-top mx-auto d-block" src="/static/img/cat3.png">
				<div class="card-body">
					<h5 class="card-title">Seating</h5>
				</div>
			</div>
		</div>

		<div class="col-md-3 no-gutters">
			<div class="card">
				<img class="card-image-top mx-auto d-block" src="/static/img/cat3.png">
				<div class="card-body">
					<h5 class="card-title">Seating</h5>
				</div>
			</div>
		</div>

		<div class="col-md-3 no-gutters">
			<div class="card">
				<img class="card-image-top mx-auto d-block" src="/static/img/cat3.png">
				<div class="card-body">
					<h5 class="card-title">Seating</h5>
				</div>
			</div>
		</div>

		<div class="col-md-3 no-gutters">
			<div class="card">
				<img class="card-image-top mx-auto d-block" src="/static/img/cat3.png">
				<div class="card-body">
					<h5 class="card-title">Seating</h5>
				</div>
			</div>
		</div>

	</div>

	<script type="text/javascript">
		
		$('.card-image-top').mouseenter(function() {
			$(this).addClass('animate__animated');
			$(this).addClass('animate__headShake');
		});

		$('.card-image-top').mouseleave(function() {
			$(this).removeClass('animate__animated');
			$(this).removeClass('animate__headShake');
		})

		var mobileCarItems = document.getElementsByClassName('mobile-car-item');
		var bigScreenCarItems = document.getElementsByClassName('bs-car-item');

		var $window = $(window)

		if ($window.width() > 544) {
			for (var a in mobileCarItems) {
				mobileCarItems[a].classList.remove('carousel-item')
			}
		} else {
			for (var a in bigScreenCarItems) {
				bigScreenCarItems[a].classList.remove('carousel-item')
			}
		}

	</script>

{% endblock %}