.link-font {
	font-family: 'Oswald', sans-serif;
}

* {
	/*font-family: 'Cookie', cursive;*/
    font-family: 'Montserrat', sans-serif;
}

.navbar {
	background-color: #43a3b3;
	padding: 30px;
}

/*.offer-heading-font {
	font-size: 65px;
	padding-top: 40px;
}*/

/*.offer-font {
	font-size: 40px;
}*/

.redb {
	border: 1px solid red;
}

.redback {
	/*background-color: #43a3b3;*/
	background-color: #43a3b3;
}

.circle-outline {
	animation: cssAnimation 2s 1s forwards;
	opacity: 0;
}

@keyframes cssAnimation {
	to { opacity: 1; }
}

.card {
	margin: 10px;
}

.card-title {
	text-align: center;
	margin-bottom: 15px;
}

.card-image-top {
	width: 40%;
	margin-top: 15%;
}

.heading1 {
	text-align: center;
	padding-top: 80px;
	font-family: 'Oswald', sans-serif;
}

a.nav-link {
	color: white !important;
	font-weight: bold !important;
}

a.nav-link-footer {
	color: Grey !important;
	margin-right: 15px !important;
}

.adbanner {
	margin-top: 80px;
	opacity: 50%;
}

.dropdown-menu {
	width: 100% !important;
}

.carousel-item-row {
	position: absolute;
	top: 0px;
}

.carousel-item-caption {
	text-align: center;
}

@media (max-width: 2000px) {
	.carousel-primary-text {
		font-size: 3rem;
		font-weight: bold;
		/*color: yellow;*/
	}

	.carousel-secondary-text {
		font-size: 1.5rem;
		/*color: yellow;*/
	}
}

@media (max-width: 768px) {
	.carousel-primary-text {
		font-size: 1.8rem;
		font-weight: bold;
		/*color: purple;*/
	}

	.carousel-secondary-text {
		font-size: 1rem;
		/*color: yellow;*/	
	}
}

@media (max-width: 544px) {
	.carousel-primary-text {
		font-size: 1.2rem;
		/*color: red;*/
	}

	.carousel-secondary-text {
		font-size: 1rem;
		/*color: purple;*/	
	}

	.slide-image {
		position: absolute;
	}
}

.foam-req {
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*.item-specifics-row {
	margin-top: 15px;
}*/

footer {
	background-color: darkgrey;
}